DATABASE_URL="mongodb://localhost:27017/selam"
MONGODB_URI="mongodb://localhost:27017/selam"
BETTER_AUTH_SECRET="change-me"
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_TRUSTED_ORIGINS="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_BETTER_AUTH_URL="http://localhost:3000"
GITHUB_CLIENT_ID=''
GITHUB_CLIENT_SECRET=''
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=""
TWITTER_CLIENT_ID=''
TWITTER_CLIENT_SECRET=""
MISTRAL_API_KEY=''
MISTRAL_MODEL='mistral-medium-latest'
