DATABASE_URL="mongodb://localhost:27017"
BETTER_AUTH_SECRET="change-me"
BETTER_AUTH_URL="https://lomi-care.vercel.app"
BETTER_AUTH_TRUSTED_ORIGINS="https://lomi-care.vercel.app"
NEXT_PUBLIC_APP_URL="https://lomi-care.vercel.app"
NEXT_PUBLIC_BETTER_AUTH_URL="https://lomi-care.vercel.app"
GITHUB_CLIENT_ID=''
GITHUB_CLIENT_SECRET=''
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=""
TWITTER_CLIENT_ID=''
TWITTER_CLIENT_SECRET=""
MISTRAL_API_KEY=''
MISTRAL_MODEL='mistral-medium-latest'
